<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body class="text-center" data-new-gr-c-s-check-loaded="14.1111.0" data-gr-ext-installed="">
    <main>
        <div id="container" class="container d-flex align-items-center justify-content-center vh-100">
            <form action="/forgot-password/reset" method="post" id="loginForm">
                <h1 class="h3 mb-4 fw-normal"><b>Change Password</b></h1>
                <%if(err === 'login'){%>
                    <span class="error_message"><%=msg%></span><br>
                <%}%>
                <div class="form-floating mb-3 mt-2">
                    <input type="password" name="new_password" class="form-control" id="floatingPassword" placeholder="Password" required>
                    <label for="floatingInput">New Password</label>
                    <div class="d-flex mt-1 mb-3 mx-1" style="align-items: center;">
                        <input type="checkbox" id="passToggler" onchange="togglePassword('floatingPassword','textPass')">
                        <p id="textPass" style="font-size: 13px;" class="m-0 mx-1">See password</p>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="confirm_pass" class="form-control" id="floatingPassword" placeholder="Password" required>
                    <label for="floatingPassword">Confirm Password</label>
                </div>
            
                <button class="btn-primary w-100 mb-4" type="submit">Reset</button>
                <input type="hidden" name="user_id" value="<%=user_id%>">
                <p>Page sent at <%=page_sent%></p>
                <p style="font-size: small;color: rgb(128, 128, 128);" name="timer">you have only <%=timer%> minutes to reset you password or this page will expire</p>
                <p class="mt-5 mb-3 text-muted">© 2023</p>
            </form>
        </div>
    </main>
</body>
<script src="../JS/script.js"></script>
</html>