<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="./css/settings.css">
</head>
<body>
  <%-include('../includes/nav.ejs')%>
  <div class="container-xxl h-100">
    <div class="row">
      <div class="col-md-2 mt-2 fixed-nav setting-link">
        <h1>Settings</h1>
        <ul>
          <li class="nav-item">
            <a class="nav-link" href="#account">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#changePass">Change Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#create">Create Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#member">Add Member</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: red;" href="#delete">Remove Members</a>
          </li>
        </ul>
      </div>

      <div class="col-md-9 ml-9 mt-3 content">

        <div class="section">
          <h4 id="account">Account</h4>
          <hr>
          <%if(section === 'account'){%>
            <%if(err==='true'){%>
              <span class="error_message"><i class="bi bi-exclamation-triangle"></i> <%=msg%></span>
            <%}else if(err==='false'){%>
                <span class="success_message"><i class="bi bi-check-circle-fill"></i> <%=msg%></span>
            <%}%>
          <%}%>

          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name="email" value="<%= (email)?email:''%>" class="form-control" id="email" required disabled>
            <div style="display: flex;">
            </div>
          </div>

          <form action="/settings/change-username" id="username_form" method="post">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" name="username" value="<%= (username)?username:''%>" class="form-control" id="username" required disabled>
              <div style="display: flex;">
                <button id="change_username" type="button" class="btn-primary">Change</button>
                <button id="save_username" type="submit" style="display: none;" class="btn-primary">Save</button>
                <button id="cancel_username" type="reset" style="display: none;" class="btn-primary">Cancel</button>
              </div>
            </div>
          </form>      
        </div>
        
        <div class="section">
          <h4 id="changePass">Change password</h4>
          <hr>
          <%if(section === 'changePass'){%>

            <%if(err==='true'){%>
              <span class="error_message"><i class="bi bi-exclamation-triangle"></i> <%=msg%></span>
            <%}else if(err==='false'){%>
                <span class="success_message"><i class="bi bi-check-circle-fill"></i> <%=msg%></span>
            <%}%>

          <%}%>

          <form onsubmit="return checkChangedPassword()" action="/settings/change-password" method="post">
            <div class="mb-3">
              <label for="old_pass" class="form-label">Old password</label>
              <input type="password" name="old_password" class="form-control" id="old_pass" required>
            </div>

            <div class="mb-3">
              <label for="new_pass" class="form-label">New password</label>
              <input type="password" name="new_password" class="form-control" id="new_pass" required pattern="^(?=.*\d).{8,}$" >
              <span>minimum length 8 and at least 1 number</span>
            </div>

            <div class="mb-3">
              <label for="c_pass" class="form-label">Confirm password</label>
              <input type="password" class="form-control" id="c_pass" required>
              <span class="error_message" id="new_pass_error" style="display: none;"></span>
              <button class="btn-primary mt-2">Save</button>
              
            </div>

          </form>
        </div>
        
        <div class="section">
          <h4 id="create">Create account</h4>
          <hr>
          <%if(section === 'create'){%>
            <%if(err==='true'){%>
              <span class="error_message"><i class="bi bi-exclamation-triangle"></i> <%=msg%></span>
            <%}else if(err==='false'){%>
                <span class="success_message"><i class="bi bi-check-circle-fill"></i> <%=msg%></span>
            <%}%>
          <%}%>
          <form onsubmit="return checkNewUserPassword()" action="/settings/create-user" method="post">
            <div class="mb-3">
              <label for="create_username" class="form-label">Username</label>
              <input type="text" name="create_username" class="form-control" id="create_username" required>
            </div>

            <div class="mb-3">
              <label for="create_email" class="form-label">Email</label>
              <input type="email" name="create_email" class="form-control" id="create_email" required>
            </div>

            <div class="mb-3">
              <label for="create_pass" class="form-label">Password</label>
              <input type="password" name="create_pass" class="form-control" id="create_pass" required>
            </div>

            <div class="mb-3">
              <label for="confirm_pass" class="form-label">Confirm password</label>
              <input type="password" name="confirm_pass" class="form-control" id="confirm_pass" required>
              <span class="error_message" id="password_error" style="display: none;"></span>
              <button class="btn-primary mt-2">Create</button>
              
            </div>

          </form>
        </div>

        <div class="section">
          <h4 id="member">Add member</h4>
          <hr>
          <%if(section === 'member'){%>
            <%if(err==='true'){%>
              <span class="error_message"><i class="bi bi-exclamation-triangle"></i> <%=msg%></span>
            <%}else if(err==='false'){%>
                <span class="success_message"><i class="bi bi-check-circle-fill"></i> <%=msg%></span>
            <%}%>
          <%}%>
          <form onsubmit="return checkNewUserPassword()" action="/settings/create-member" method="post">
            <div class="mb-3">
              <label for="create_member" class="form-label">Full Name</label>
              <input type="text" name="member_name" class="form-control" id="create_member" required>
              <button class="btn-primary mt-2" type="submit">Add</button> 
              
            </div>
          </form>
        </div>
        
        <div class="section">
          <h4 style="color: red;" id="delete">Remove A Member</h4>
          <hr>
          <%if(section === 'delete'){%>
            <%if(err==='true'){%>
              <span class="error_message"><i class="bi bi-exclamation-triangle"></i> <%=msg%></span>
            <%}else if(err==='false'){%>
                <span class="success_message"><i class="bi bi-check-circle-fill"></i> <%=msg%></span>
            <%}%>
          <%}%>
          <form action="/settings/delete-user" method="post">
            <div class="mb-3">
              <label for="FormControlInput5" class="form-label">Name</label>
              <select name="user_id" class="form-control" id="FormControlInput5" required>
                <option value="" selected>Select a member</option>
                <%allUsers.forEach(user=>{%>
                  <option value="<%=user.user_id%>"><%=user.user_name%> (<%=user.user_type%>)</option>
                <%})%>
              </select>
              <button class="btn-danger mt-2" type="button" data-bs-toggle="modal" data-bs-target="#confirmationModal">
                Remove
              </button>

              <!-- Confirmation Dialog Modal -->
              <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete this member?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn-primary" data-bs-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn-danger">Remove</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
  <script src="./JS/script.js"></script>
  <script src="./JS/settings.js"></script>
</body>
</html>
