<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head')%>
    <link rel="stylesheet" href="./css/all-form.css">
</head>
<body>
    <%-include('./includes/nav.ejs')%>
    <div class="container-xl mt-3">
        <div class="row mb-3">
            <div class="col-md-6">
              <div class="d-flex">
                <button class="btn btn-primary me-2 button-active">Show All</button>
                <button class="btn btn-primary me-2">Closed Cases</button>
                <button class="btn btn-primary">Current</button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search...">
                <button class="btn btn-primary" type="button">Search</button>
              </div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="table-container">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center"><input id="checkAll" type="checkbox"></th>
                      <th>Beneficiary Name</th>
                      <th>Date</th>
                      <th>Case Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%result.forEach(b=>{%>
                      <tr>
                        <td class="text-center"><input type="checkbox" name="selected[]" class="checkbox-control" value="<%=b.b_id%>"></td>
                        <td><%=b.first_name+" "+b.middle_name+" "+b.last_name%></td>
                        <td><%=b.interview_date%></td>
                        <td><%=b.decision_closure_date === null ? 'OPEN' : 'CLOSED'%></td>
                        <td>
                          <a href="/edit-form?edit=<%=b.b_id%>" class="btn btn-primary">Edit</a>
                          <a href="" class="btn btn-primary">Export</a>
                          <a href="" class="btn btn-primary">Close</a>
                        </td>
                      </tr>
                    <%})%>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
    
      </div>
</body>
<script src="./JS/script.js"></script>
</html>